<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.MmAddStockDetailMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.MmAddStockDetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PROJECT_CODE" jdbcType="VARCHAR" property="projectCode" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="REGION_PARENT" jdbcType="VARCHAR" property="regionParent" />
    <result column="REGION_LEVEL" jdbcType="VARCHAR" property="regionLevel" />
    <result column="VERSION" jdbcType="VARCHAR" property="version" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="PICTURENUM" jdbcType="VARCHAR" property="picturenum" />
    <result column="CONSULT_COST" jdbcType="DECIMAL" property="consultCost" />
    <result column="PROPOSE_COST" jdbcType="DECIMAL" property="proposeCost" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="BL_FLAG" jdbcType="DECIMAL" property="blFlag" />
    <result column="SUPPLIER" jdbcType="VARCHAR" property="supplier" />
    <result column="BATCH_NUMBER" jdbcType="VARCHAR" property="batchNumber" />
    <result column="STORAGE_NUMBER" jdbcType="DECIMAL" property="storageNumber" />
    <result column="PURCH_PRICE" jdbcType="DECIMAL" property="purchPrice" />
    <result column="PURCH_TOTAL" jdbcType="DECIMAL" property="purchTotal" />
    <result column="PROPOSE_TOTAL" jdbcType="DECIMAL" property="proposeTotal" />
    <result column="EFFECTIVE_TIME" jdbcType="DATE" property="effectiveTime" />
    <result column="INVALID_TIME" jdbcType="DATE" property="invalidTime" />
    <result column="CREATE_USER_CODE" jdbcType="VARCHAR" property="createUserCode" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="MODIFY_USER_CODE" jdbcType="VARCHAR" property="modifyUserCode" />
    <result column="MODIFY_TIME" jdbcType="DATE" property="modifyTime" />
    <result column="STORAGE_NUMBER_ID" jdbcType="VARCHAR" property="storageNumberId" />
    <result column="FIRST_PROJECT_CODE" jdbcType="VARCHAR" property="firstProjectCode" />
    <result column="FIRST_PROJECT_NAME" jdbcType="VARCHAR" property="firstProjectName" />
    <result column="SECOND_PROJECT_CODE" jdbcType="VARCHAR" property="secondProjectCode" />
    <result column="SECOND_PROJECT_NAME" jdbcType="VARCHAR" property="secondProjectName" />
    <result column="THREE_PROJECT_CODE" jdbcType="VARCHAR" property="threeProjectCode" />
    <result column="THREE_PROJECT_NAME" jdbcType="VARCHAR" property="threeProjectName" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PROJECT_CODE, PROJECT_NAME, REGION_PARENT, REGION_LEVEL, VERSION, UNIT, PICTURENUM, 
    CONSULT_COST, PROPOSE_COST, REMARK, BL_FLAG, SUPPLIER, BATCH_NUMBER, STORAGE_NUMBER, 
    PURCH_PRICE, PURCH_TOTAL, PROPOSE_TOTAL, EFFECTIVE_TIME, INVALID_TIME, CREATE_USER_CODE, 
    CREATE_TIME, MODIFY_USER_CODE, MODIFY_TIME, STORAGE_NUMBER_ID, FIRST_PROJECT_CODE, 
    FIRST_PROJECT_NAME, SECOND_PROJECT_CODE, SECOND_PROJECT_NAME, THREE_PROJECT_CODE, 
    THREE_PROJECT_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_MM_ADD_STOCK_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_MM_ADD_STOCK_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.java.entity.MmAddStockDetail">
    insert into T_MM_ADD_STOCK_DETAIL (ID, PROJECT_CODE, PROJECT_NAME, 
      REGION_PARENT, REGION_LEVEL, VERSION, 
      UNIT, PICTURENUM, CONSULT_COST, 
      PROPOSE_COST, REMARK, BL_FLAG, 
      SUPPLIER, BATCH_NUMBER, STORAGE_NUMBER, 
      PURCH_PRICE, PURCH_TOTAL, PROPOSE_TOTAL, 
      EFFECTIVE_TIME, INVALID_TIME, CREATE_USER_CODE, 
      CREATE_TIME, MODIFY_USER_CODE, MODIFY_TIME, 
      STORAGE_NUMBER_ID, FIRST_PROJECT_CODE, FIRST_PROJECT_NAME, 
      SECOND_PROJECT_CODE, SECOND_PROJECT_NAME, THREE_PROJECT_CODE, 
      THREE_PROJECT_NAME)
    values (#{id,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{regionParent,jdbcType=VARCHAR}, #{regionLevel,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{picturenum,jdbcType=VARCHAR}, #{consultCost,jdbcType=DECIMAL}, 
      #{proposeCost,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{blFlag,jdbcType=DECIMAL}, 
      #{supplier,jdbcType=VARCHAR}, #{batchNumber,jdbcType=VARCHAR}, #{storageNumber,jdbcType=DECIMAL}, 
      #{purchPrice,jdbcType=DECIMAL}, #{purchTotal,jdbcType=DECIMAL}, #{proposeTotal,jdbcType=DECIMAL}, 
      #{effectiveTime,jdbcType=DATE}, #{invalidTime,jdbcType=DATE}, #{createUserCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{modifyUserCode,jdbcType=VARCHAR}, #{modifyTime,jdbcType=DATE}, 
      #{storageNumberId,jdbcType=VARCHAR}, #{firstProjectCode,jdbcType=VARCHAR}, #{firstProjectName,jdbcType=VARCHAR}, 
      #{secondProjectCode,jdbcType=VARCHAR}, #{secondProjectName,jdbcType=VARCHAR}, #{threeProjectCode,jdbcType=VARCHAR}, 
      #{threeProjectName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.MmAddStockDetail">
    insert into T_MM_ADD_STOCK_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="projectCode != null">
        PROJECT_CODE,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="regionParent != null">
        REGION_PARENT,
      </if>
      <if test="regionLevel != null">
        REGION_LEVEL,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="unit != null">
        UNIT,
      </if>
      <if test="picturenum != null">
        PICTURENUM,
      </if>
      <if test="consultCost != null">
        CONSULT_COST,
      </if>
      <if test="proposeCost != null">
        PROPOSE_COST,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="blFlag != null">
        BL_FLAG,
      </if>
      <if test="supplier != null">
        SUPPLIER,
      </if>
      <if test="batchNumber != null">
        BATCH_NUMBER,
      </if>
      <if test="storageNumber != null">
        STORAGE_NUMBER,
      </if>
      <if test="purchPrice != null">
        PURCH_PRICE,
      </if>
      <if test="purchTotal != null">
        PURCH_TOTAL,
      </if>
      <if test="proposeTotal != null">
        PROPOSE_TOTAL,
      </if>
      <if test="effectiveTime != null">
        EFFECTIVE_TIME,
      </if>
      <if test="invalidTime != null">
        INVALID_TIME,
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="storageNumberId != null">
        STORAGE_NUMBER_ID,
      </if>
      <if test="firstProjectCode != null">
        FIRST_PROJECT_CODE,
      </if>
      <if test="firstProjectName != null">
        FIRST_PROJECT_NAME,
      </if>
      <if test="secondProjectCode != null">
        SECOND_PROJECT_CODE,
      </if>
      <if test="secondProjectName != null">
        SECOND_PROJECT_NAME,
      </if>
      <if test="threeProjectCode != null">
        THREE_PROJECT_CODE,
      </if>
      <if test="threeProjectName != null">
        THREE_PROJECT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null">
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="regionParent != null">
        #{regionParent,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null">
        #{regionLevel,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="picturenum != null">
        #{picturenum,jdbcType=VARCHAR},
      </if>
      <if test="consultCost != null">
        #{consultCost,jdbcType=DECIMAL},
      </if>
      <if test="proposeCost != null">
        #{proposeCost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="blFlag != null">
        #{blFlag,jdbcType=DECIMAL},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="storageNumber != null">
        #{storageNumber,jdbcType=DECIMAL},
      </if>
      <if test="purchPrice != null">
        #{purchPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchTotal != null">
        #{purchTotal,jdbcType=DECIMAL},
      </if>
      <if test="proposeTotal != null">
        #{proposeTotal,jdbcType=DECIMAL},
      </if>
      <if test="effectiveTime != null">
        #{effectiveTime,jdbcType=DATE},
      </if>
      <if test="invalidTime != null">
        #{invalidTime,jdbcType=DATE},
      </if>
      <if test="createUserCode != null">
        #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyUserCode != null">
        #{modifyUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=DATE},
      </if>
      <if test="storageNumberId != null">
        #{storageNumberId,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectCode != null">
        #{firstProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectName != null">
        #{firstProjectName,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectCode != null">
        #{secondProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectName != null">
        #{secondProjectName,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectCode != null">
        #{threeProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectName != null">
        #{threeProjectName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.MmAddStockDetail">
    update T_MM_ADD_STOCK_DETAIL
    <set>
      <if test="projectCode != null">
        PROJECT_CODE = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="regionParent != null">
        REGION_PARENT = #{regionParent,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null">
        REGION_LEVEL = #{regionLevel,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="picturenum != null">
        PICTURENUM = #{picturenum,jdbcType=VARCHAR},
      </if>
      <if test="consultCost != null">
        CONSULT_COST = #{consultCost,jdbcType=DECIMAL},
      </if>
      <if test="proposeCost != null">
        PROPOSE_COST = #{proposeCost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="blFlag != null">
        BL_FLAG = #{blFlag,jdbcType=DECIMAL},
      </if>
      <if test="supplier != null">
        SUPPLIER = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        BATCH_NUMBER = #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="storageNumber != null">
        STORAGE_NUMBER = #{storageNumber,jdbcType=DECIMAL},
      </if>
      <if test="purchPrice != null">
        PURCH_PRICE = #{purchPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchTotal != null">
        PURCH_TOTAL = #{purchTotal,jdbcType=DECIMAL},
      </if>
      <if test="proposeTotal != null">
        PROPOSE_TOTAL = #{proposeTotal,jdbcType=DECIMAL},
      </if>
      <if test="effectiveTime != null">
        EFFECTIVE_TIME = #{effectiveTime,jdbcType=DATE},
      </if>
      <if test="invalidTime != null">
        INVALID_TIME = #{invalidTime,jdbcType=DATE},
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=DATE},
      </if>
      <if test="storageNumberId != null">
        STORAGE_NUMBER_ID = #{storageNumberId,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectCode != null">
        FIRST_PROJECT_CODE = #{firstProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectName != null">
        FIRST_PROJECT_NAME = #{firstProjectName,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectCode != null">
        SECOND_PROJECT_CODE = #{secondProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectName != null">
        SECOND_PROJECT_NAME = #{secondProjectName,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectCode != null">
        THREE_PROJECT_CODE = #{threeProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectName != null">
        THREE_PROJECT_NAME = #{threeProjectName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.MmAddStockDetail">
    update T_MM_ADD_STOCK_DETAIL
    set PROJECT_CODE = #{projectCode,jdbcType=VARCHAR},
      PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      REGION_PARENT = #{regionParent,jdbcType=VARCHAR},
      REGION_LEVEL = #{regionLevel,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR},
      PICTURENUM = #{picturenum,jdbcType=VARCHAR},
      CONSULT_COST = #{consultCost,jdbcType=DECIMAL},
      PROPOSE_COST = #{proposeCost,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      BL_FLAG = #{blFlag,jdbcType=DECIMAL},
      SUPPLIER = #{supplier,jdbcType=VARCHAR},
      BATCH_NUMBER = #{batchNumber,jdbcType=VARCHAR},
      STORAGE_NUMBER = #{storageNumber,jdbcType=DECIMAL},
      PURCH_PRICE = #{purchPrice,jdbcType=DECIMAL},
      PURCH_TOTAL = #{purchTotal,jdbcType=DECIMAL},
      PROPOSE_TOTAL = #{proposeTotal,jdbcType=DECIMAL},
      EFFECTIVE_TIME = #{effectiveTime,jdbcType=DATE},
      INVALID_TIME = #{invalidTime,jdbcType=DATE},
      CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=DATE},
      STORAGE_NUMBER_ID = #{storageNumberId,jdbcType=VARCHAR},
      FIRST_PROJECT_CODE = #{firstProjectCode,jdbcType=VARCHAR},
      FIRST_PROJECT_NAME = #{firstProjectName,jdbcType=VARCHAR},
      SECOND_PROJECT_CODE = #{secondProjectCode,jdbcType=VARCHAR},
      SECOND_PROJECT_NAME = #{secondProjectName,jdbcType=VARCHAR},
      THREE_PROJECT_CODE = #{threeProjectCode,jdbcType=VARCHAR},
      THREE_PROJECT_NAME = #{threeProjectName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="org.java.entity.MmAddStockDetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PROJECT_CODE" jdbcType="VARCHAR" property="projectCode" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="REGION_PARENT" jdbcType="VARCHAR" property="regionParent" />
    <result column="REGION_LEVEL" jdbcType="VARCHAR" property="regionLevel" />
    <result column="VERSION" jdbcType="VARCHAR" property="version" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="PICTURENUM" jdbcType="VARCHAR" property="picturenum" />
    <result column="CONSULT_COST" jdbcType="DECIMAL" property="consultCost" />
    <result column="PROPOSE_COST" jdbcType="DECIMAL" property="proposeCost" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="BL_FLAG" jdbcType="DECIMAL" property="blFlag" />
    <result column="SUPPLIER" jdbcType="VARCHAR" property="supplier" />
    <result column="BATCH_NUMBER" jdbcType="VARCHAR" property="batchNumber" />
    <result column="STORAGE_NUMBER" jdbcType="DECIMAL" property="storageNumber" />
    <result column="PURCH_PRICE" jdbcType="DECIMAL" property="purchPrice" />
    <result column="PURCH_TOTAL" jdbcType="DECIMAL" property="purchTotal" />
    <result column="PROPOSE_TOTAL" jdbcType="DECIMAL" property="proposeTotal" />
    <result column="EFFECTIVE_TIME" jdbcType="DATE" property="effectiveTime" />
    <result column="INVALID_TIME" jdbcType="DATE" property="invalidTime" />
    <result column="CREATE_USER_CODE" jdbcType="VARCHAR" property="createUserCode" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="MODIFY_USER_CODE" jdbcType="VARCHAR" property="modifyUserCode" />
    <result column="MODIFY_TIME" jdbcType="DATE" property="modifyTime" />
    <result column="STORAGE_NUMBER_ID" jdbcType="VARCHAR" property="storageNumberId" />
    <result column="FIRST_PROJECT_CODE" jdbcType="VARCHAR" property="firstProjectCode" />
    <result column="FIRST_PROJECT_NAME" jdbcType="VARCHAR" property="firstProjectName" />
    <result column="SECOND_PROJECT_CODE" jdbcType="VARCHAR" property="secondProjectCode" />
    <result column="SECOND_PROJECT_NAME" jdbcType="VARCHAR" property="secondProjectName" />
    <result column="THREE_PROJECT_CODE" jdbcType="VARCHAR" property="threeProjectCode" />
    <result column="THREE_PROJECT_NAME" jdbcType="VARCHAR" property="threeProjectName" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PROJECT_CODE, PROJECT_NAME, REGION_PARENT, REGION_LEVEL, VERSION, UNIT, PICTURENUM, 
    CONSULT_COST, PROPOSE_COST, REMARK, BL_FLAG, SUPPLIER, BATCH_NUMBER, STORAGE_NUMBER, 
    PURCH_PRICE, PURCH_TOTAL, PROPOSE_TOTAL, EFFECTIVE_TIME, INVALID_TIME, CREATE_USER_CODE, 
    CREATE_TIME, MODIFY_USER_CODE, MODIFY_TIME, STORAGE_NUMBER_ID, FIRST_PROJECT_CODE, 
    FIRST_PROJECT_NAME, SECOND_PROJECT_CODE, SECOND_PROJECT_NAME, THREE_PROJECT_CODE, 
    THREE_PROJECT_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_MM_ADD_STOCK_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_MM_ADD_STOCK_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.java.entity.MmAddStockDetail">
    insert into T_MM_ADD_STOCK_DETAIL (ID, PROJECT_CODE, PROJECT_NAME, 
      REGION_PARENT, REGION_LEVEL, VERSION, 
      UNIT, PICTURENUM, CONSULT_COST, 
      PROPOSE_COST, REMARK, BL_FLAG, 
      SUPPLIER, BATCH_NUMBER, STORAGE_NUMBER, 
      PURCH_PRICE, PURCH_TOTAL, PROPOSE_TOTAL, 
      EFFECTIVE_TIME, INVALID_TIME, CREATE_USER_CODE, 
      CREATE_TIME, MODIFY_USER_CODE, MODIFY_TIME, 
      STORAGE_NUMBER_ID, FIRST_PROJECT_CODE, FIRST_PROJECT_NAME, 
      SECOND_PROJECT_CODE, SECOND_PROJECT_NAME, THREE_PROJECT_CODE, 
      THREE_PROJECT_NAME)
    values (#{id,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{regionParent,jdbcType=VARCHAR}, #{regionLevel,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{picturenum,jdbcType=VARCHAR}, #{consultCost,jdbcType=DECIMAL}, 
      #{proposeCost,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{blFlag,jdbcType=DECIMAL}, 
      #{supplier,jdbcType=VARCHAR}, #{batchNumber,jdbcType=VARCHAR}, #{storageNumber,jdbcType=DECIMAL}, 
      #{purchPrice,jdbcType=DECIMAL}, #{purchTotal,jdbcType=DECIMAL}, #{proposeTotal,jdbcType=DECIMAL}, 
      #{effectiveTime,jdbcType=DATE}, #{invalidTime,jdbcType=DATE}, #{createUserCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{modifyUserCode,jdbcType=VARCHAR}, #{modifyTime,jdbcType=DATE}, 
      #{storageNumberId,jdbcType=VARCHAR}, #{firstProjectCode,jdbcType=VARCHAR}, #{firstProjectName,jdbcType=VARCHAR}, 
      #{secondProjectCode,jdbcType=VARCHAR}, #{secondProjectName,jdbcType=VARCHAR}, #{threeProjectCode,jdbcType=VARCHAR}, 
      #{threeProjectName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.MmAddStockDetail">
    insert into T_MM_ADD_STOCK_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="projectCode != null">
        PROJECT_CODE,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="regionParent != null">
        REGION_PARENT,
      </if>
      <if test="regionLevel != null">
        REGION_LEVEL,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="unit != null">
        UNIT,
      </if>
      <if test="picturenum != null">
        PICTURENUM,
      </if>
      <if test="consultCost != null">
        CONSULT_COST,
      </if>
      <if test="proposeCost != null">
        PROPOSE_COST,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="blFlag != null">
        BL_FLAG,
      </if>
      <if test="supplier != null">
        SUPPLIER,
      </if>
      <if test="batchNumber != null">
        BATCH_NUMBER,
      </if>
      <if test="storageNumber != null">
        STORAGE_NUMBER,
      </if>
      <if test="purchPrice != null">
        PURCH_PRICE,
      </if>
      <if test="purchTotal != null">
        PURCH_TOTAL,
      </if>
      <if test="proposeTotal != null">
        PROPOSE_TOTAL,
      </if>
      <if test="effectiveTime != null">
        EFFECTIVE_TIME,
      </if>
      <if test="invalidTime != null">
        INVALID_TIME,
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="storageNumberId != null">
        STORAGE_NUMBER_ID,
      </if>
      <if test="firstProjectCode != null">
        FIRST_PROJECT_CODE,
      </if>
      <if test="firstProjectName != null">
        FIRST_PROJECT_NAME,
      </if>
      <if test="secondProjectCode != null">
        SECOND_PROJECT_CODE,
      </if>
      <if test="secondProjectName != null">
        SECOND_PROJECT_NAME,
      </if>
      <if test="threeProjectCode != null">
        THREE_PROJECT_CODE,
      </if>
      <if test="threeProjectName != null">
        THREE_PROJECT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null">
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="regionParent != null">
        #{regionParent,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null">
        #{regionLevel,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="picturenum != null">
        #{picturenum,jdbcType=VARCHAR},
      </if>
      <if test="consultCost != null">
        #{consultCost,jdbcType=DECIMAL},
      </if>
      <if test="proposeCost != null">
        #{proposeCost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="blFlag != null">
        #{blFlag,jdbcType=DECIMAL},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="storageNumber != null">
        #{storageNumber,jdbcType=DECIMAL},
      </if>
      <if test="purchPrice != null">
        #{purchPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchTotal != null">
        #{purchTotal,jdbcType=DECIMAL},
      </if>
      <if test="proposeTotal != null">
        #{proposeTotal,jdbcType=DECIMAL},
      </if>
      <if test="effectiveTime != null">
        #{effectiveTime,jdbcType=DATE},
      </if>
      <if test="invalidTime != null">
        #{invalidTime,jdbcType=DATE},
      </if>
      <if test="createUserCode != null">
        #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyUserCode != null">
        #{modifyUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=DATE},
      </if>
      <if test="storageNumberId != null">
        #{storageNumberId,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectCode != null">
        #{firstProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectName != null">
        #{firstProjectName,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectCode != null">
        #{secondProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectName != null">
        #{secondProjectName,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectCode != null">
        #{threeProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectName != null">
        #{threeProjectName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.MmAddStockDetail">
    update T_MM_ADD_STOCK_DETAIL
    <set>
      <if test="projectCode != null">
        PROJECT_CODE = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="regionParent != null">
        REGION_PARENT = #{regionParent,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null">
        REGION_LEVEL = #{regionLevel,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="picturenum != null">
        PICTURENUM = #{picturenum,jdbcType=VARCHAR},
      </if>
      <if test="consultCost != null">
        CONSULT_COST = #{consultCost,jdbcType=DECIMAL},
      </if>
      <if test="proposeCost != null">
        PROPOSE_COST = #{proposeCost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="blFlag != null">
        BL_FLAG = #{blFlag,jdbcType=DECIMAL},
      </if>
      <if test="supplier != null">
        SUPPLIER = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        BATCH_NUMBER = #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="storageNumber != null">
        STORAGE_NUMBER = #{storageNumber,jdbcType=DECIMAL},
      </if>
      <if test="purchPrice != null">
        PURCH_PRICE = #{purchPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchTotal != null">
        PURCH_TOTAL = #{purchTotal,jdbcType=DECIMAL},
      </if>
      <if test="proposeTotal != null">
        PROPOSE_TOTAL = #{proposeTotal,jdbcType=DECIMAL},
      </if>
      <if test="effectiveTime != null">
        EFFECTIVE_TIME = #{effectiveTime,jdbcType=DATE},
      </if>
      <if test="invalidTime != null">
        INVALID_TIME = #{invalidTime,jdbcType=DATE},
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=DATE},
      </if>
      <if test="storageNumberId != null">
        STORAGE_NUMBER_ID = #{storageNumberId,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectCode != null">
        FIRST_PROJECT_CODE = #{firstProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectName != null">
        FIRST_PROJECT_NAME = #{firstProjectName,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectCode != null">
        SECOND_PROJECT_CODE = #{secondProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectName != null">
        SECOND_PROJECT_NAME = #{secondProjectName,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectCode != null">
        THREE_PROJECT_CODE = #{threeProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectName != null">
        THREE_PROJECT_NAME = #{threeProjectName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.MmAddStockDetail">
    update T_MM_ADD_STOCK_DETAIL
    set PROJECT_CODE = #{projectCode,jdbcType=VARCHAR},
      PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      REGION_PARENT = #{regionParent,jdbcType=VARCHAR},
      REGION_LEVEL = #{regionLevel,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR},
      PICTURENUM = #{picturenum,jdbcType=VARCHAR},
      CONSULT_COST = #{consultCost,jdbcType=DECIMAL},
      PROPOSE_COST = #{proposeCost,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      BL_FLAG = #{blFlag,jdbcType=DECIMAL},
      SUPPLIER = #{supplier,jdbcType=VARCHAR},
      BATCH_NUMBER = #{batchNumber,jdbcType=VARCHAR},
      STORAGE_NUMBER = #{storageNumber,jdbcType=DECIMAL},
      PURCH_PRICE = #{purchPrice,jdbcType=DECIMAL},
      PURCH_TOTAL = #{purchTotal,jdbcType=DECIMAL},
      PROPOSE_TOTAL = #{proposeTotal,jdbcType=DECIMAL},
      EFFECTIVE_TIME = #{effectiveTime,jdbcType=DATE},
      INVALID_TIME = #{invalidTime,jdbcType=DATE},
      CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=DATE},
      STORAGE_NUMBER_ID = #{storageNumberId,jdbcType=VARCHAR},
      FIRST_PROJECT_CODE = #{firstProjectCode,jdbcType=VARCHAR},
      FIRST_PROJECT_NAME = #{firstProjectName,jdbcType=VARCHAR},
      SECOND_PROJECT_CODE = #{secondProjectCode,jdbcType=VARCHAR},
      SECOND_PROJECT_NAME = #{secondProjectName,jdbcType=VARCHAR},
      THREE_PROJECT_CODE = #{threeProjectCode,jdbcType=VARCHAR},
      THREE_PROJECT_NAME = #{threeProjectName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="org.java.entity.MmAddStockDetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PROJECT_CODE" jdbcType="VARCHAR" property="projectCode" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="REGION_PARENT" jdbcType="VARCHAR" property="regionParent" />
    <result column="REGION_LEVEL" jdbcType="VARCHAR" property="regionLevel" />
    <result column="VERSION" jdbcType="VARCHAR" property="version" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="PICTURENUM" jdbcType="VARCHAR" property="picturenum" />
    <result column="CONSULT_COST" jdbcType="DECIMAL" property="consultCost" />
    <result column="PROPOSE_COST" jdbcType="DECIMAL" property="proposeCost" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="BL_FLAG" jdbcType="DECIMAL" property="blFlag" />
    <result column="SUPPLIER" jdbcType="VARCHAR" property="supplier" />
    <result column="BATCH_NUMBER" jdbcType="VARCHAR" property="batchNumber" />
    <result column="STORAGE_NUMBER" jdbcType="DECIMAL" property="storageNumber" />
    <result column="PURCH_PRICE" jdbcType="DECIMAL" property="purchPrice" />
    <result column="PURCH_TOTAL" jdbcType="DECIMAL" property="purchTotal" />
    <result column="PROPOSE_TOTAL" jdbcType="DECIMAL" property="proposeTotal" />
    <result column="EFFECTIVE_TIME" jdbcType="DATE" property="effectiveTime" />
    <result column="INVALID_TIME" jdbcType="DATE" property="invalidTime" />
    <result column="CREATE_USER_CODE" jdbcType="VARCHAR" property="createUserCode" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="MODIFY_USER_CODE" jdbcType="VARCHAR" property="modifyUserCode" />
    <result column="MODIFY_TIME" jdbcType="DATE" property="modifyTime" />
    <result column="STORAGE_NUMBER_ID" jdbcType="VARCHAR" property="storageNumberId" />
    <result column="FIRST_PROJECT_CODE" jdbcType="VARCHAR" property="firstProjectCode" />
    <result column="FIRST_PROJECT_NAME" jdbcType="VARCHAR" property="firstProjectName" />
    <result column="SECOND_PROJECT_CODE" jdbcType="VARCHAR" property="secondProjectCode" />
    <result column="SECOND_PROJECT_NAME" jdbcType="VARCHAR" property="secondProjectName" />
    <result column="THREE_PROJECT_CODE" jdbcType="VARCHAR" property="threeProjectCode" />
    <result column="THREE_PROJECT_NAME" jdbcType="VARCHAR" property="threeProjectName" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PROJECT_CODE, PROJECT_NAME, REGION_PARENT, REGION_LEVEL, VERSION, UNIT, PICTURENUM, 
    CONSULT_COST, PROPOSE_COST, REMARK, BL_FLAG, SUPPLIER, BATCH_NUMBER, STORAGE_NUMBER, 
    PURCH_PRICE, PURCH_TOTAL, PROPOSE_TOTAL, EFFECTIVE_TIME, INVALID_TIME, CREATE_USER_CODE, 
    CREATE_TIME, MODIFY_USER_CODE, MODIFY_TIME, STORAGE_NUMBER_ID, FIRST_PROJECT_CODE, 
    FIRST_PROJECT_NAME, SECOND_PROJECT_CODE, SECOND_PROJECT_NAME, THREE_PROJECT_CODE, 
    THREE_PROJECT_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_MM_ADD_STOCK_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_MM_ADD_STOCK_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.java.entity.MmAddStockDetail">
    insert into T_MM_ADD_STOCK_DETAIL (ID, PROJECT_CODE, PROJECT_NAME, 
      REGION_PARENT, REGION_LEVEL, VERSION, 
      UNIT, PICTURENUM, CONSULT_COST, 
      PROPOSE_COST, REMARK, BL_FLAG, 
      SUPPLIER, BATCH_NUMBER, STORAGE_NUMBER, 
      PURCH_PRICE, PURCH_TOTAL, PROPOSE_TOTAL, 
      EFFECTIVE_TIME, INVALID_TIME, CREATE_USER_CODE, 
      CREATE_TIME, MODIFY_USER_CODE, MODIFY_TIME, 
      STORAGE_NUMBER_ID, FIRST_PROJECT_CODE, FIRST_PROJECT_NAME, 
      SECOND_PROJECT_CODE, SECOND_PROJECT_NAME, THREE_PROJECT_CODE, 
      THREE_PROJECT_NAME)
    values (#{id,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{regionParent,jdbcType=VARCHAR}, #{regionLevel,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{picturenum,jdbcType=VARCHAR}, #{consultCost,jdbcType=DECIMAL}, 
      #{proposeCost,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{blFlag,jdbcType=DECIMAL}, 
      #{supplier,jdbcType=VARCHAR}, #{batchNumber,jdbcType=VARCHAR}, #{storageNumber,jdbcType=DECIMAL}, 
      #{purchPrice,jdbcType=DECIMAL}, #{purchTotal,jdbcType=DECIMAL}, #{proposeTotal,jdbcType=DECIMAL}, 
      #{effectiveTime,jdbcType=DATE}, #{invalidTime,jdbcType=DATE}, #{createUserCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{modifyUserCode,jdbcType=VARCHAR}, #{modifyTime,jdbcType=DATE}, 
      #{storageNumberId,jdbcType=VARCHAR}, #{firstProjectCode,jdbcType=VARCHAR}, #{firstProjectName,jdbcType=VARCHAR}, 
      #{secondProjectCode,jdbcType=VARCHAR}, #{secondProjectName,jdbcType=VARCHAR}, #{threeProjectCode,jdbcType=VARCHAR}, 
      #{threeProjectName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.MmAddStockDetail">
    insert into T_MM_ADD_STOCK_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="projectCode != null">
        PROJECT_CODE,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="regionParent != null">
        REGION_PARENT,
      </if>
      <if test="regionLevel != null">
        REGION_LEVEL,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="unit != null">
        UNIT,
      </if>
      <if test="picturenum != null">
        PICTURENUM,
      </if>
      <if test="consultCost != null">
        CONSULT_COST,
      </if>
      <if test="proposeCost != null">
        PROPOSE_COST,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="blFlag != null">
        BL_FLAG,
      </if>
      <if test="supplier != null">
        SUPPLIER,
      </if>
      <if test="batchNumber != null">
        BATCH_NUMBER,
      </if>
      <if test="storageNumber != null">
        STORAGE_NUMBER,
      </if>
      <if test="purchPrice != null">
        PURCH_PRICE,
      </if>
      <if test="purchTotal != null">
        PURCH_TOTAL,
      </if>
      <if test="proposeTotal != null">
        PROPOSE_TOTAL,
      </if>
      <if test="effectiveTime != null">
        EFFECTIVE_TIME,
      </if>
      <if test="invalidTime != null">
        INVALID_TIME,
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="storageNumberId != null">
        STORAGE_NUMBER_ID,
      </if>
      <if test="firstProjectCode != null">
        FIRST_PROJECT_CODE,
      </if>
      <if test="firstProjectName != null">
        FIRST_PROJECT_NAME,
      </if>
      <if test="secondProjectCode != null">
        SECOND_PROJECT_CODE,
      </if>
      <if test="secondProjectName != null">
        SECOND_PROJECT_NAME,
      </if>
      <if test="threeProjectCode != null">
        THREE_PROJECT_CODE,
      </if>
      <if test="threeProjectName != null">
        THREE_PROJECT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null">
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="regionParent != null">
        #{regionParent,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null">
        #{regionLevel,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="picturenum != null">
        #{picturenum,jdbcType=VARCHAR},
      </if>
      <if test="consultCost != null">
        #{consultCost,jdbcType=DECIMAL},
      </if>
      <if test="proposeCost != null">
        #{proposeCost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="blFlag != null">
        #{blFlag,jdbcType=DECIMAL},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="storageNumber != null">
        #{storageNumber,jdbcType=DECIMAL},
      </if>
      <if test="purchPrice != null">
        #{purchPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchTotal != null">
        #{purchTotal,jdbcType=DECIMAL},
      </if>
      <if test="proposeTotal != null">
        #{proposeTotal,jdbcType=DECIMAL},
      </if>
      <if test="effectiveTime != null">
        #{effectiveTime,jdbcType=DATE},
      </if>
      <if test="invalidTime != null">
        #{invalidTime,jdbcType=DATE},
      </if>
      <if test="createUserCode != null">
        #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyUserCode != null">
        #{modifyUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=DATE},
      </if>
      <if test="storageNumberId != null">
        #{storageNumberId,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectCode != null">
        #{firstProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectName != null">
        #{firstProjectName,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectCode != null">
        #{secondProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectName != null">
        #{secondProjectName,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectCode != null">
        #{threeProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectName != null">
        #{threeProjectName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.MmAddStockDetail">
    update T_MM_ADD_STOCK_DETAIL
    <set>
      <if test="projectCode != null">
        PROJECT_CODE = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="regionParent != null">
        REGION_PARENT = #{regionParent,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null">
        REGION_LEVEL = #{regionLevel,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="picturenum != null">
        PICTURENUM = #{picturenum,jdbcType=VARCHAR},
      </if>
      <if test="consultCost != null">
        CONSULT_COST = #{consultCost,jdbcType=DECIMAL},
      </if>
      <if test="proposeCost != null">
        PROPOSE_COST = #{proposeCost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="blFlag != null">
        BL_FLAG = #{blFlag,jdbcType=DECIMAL},
      </if>
      <if test="supplier != null">
        SUPPLIER = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        BATCH_NUMBER = #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="storageNumber != null">
        STORAGE_NUMBER = #{storageNumber,jdbcType=DECIMAL},
      </if>
      <if test="purchPrice != null">
        PURCH_PRICE = #{purchPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchTotal != null">
        PURCH_TOTAL = #{purchTotal,jdbcType=DECIMAL},
      </if>
      <if test="proposeTotal != null">
        PROPOSE_TOTAL = #{proposeTotal,jdbcType=DECIMAL},
      </if>
      <if test="effectiveTime != null">
        EFFECTIVE_TIME = #{effectiveTime,jdbcType=DATE},
      </if>
      <if test="invalidTime != null">
        INVALID_TIME = #{invalidTime,jdbcType=DATE},
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=DATE},
      </if>
      <if test="storageNumberId != null">
        STORAGE_NUMBER_ID = #{storageNumberId,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectCode != null">
        FIRST_PROJECT_CODE = #{firstProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="firstProjectName != null">
        FIRST_PROJECT_NAME = #{firstProjectName,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectCode != null">
        SECOND_PROJECT_CODE = #{secondProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="secondProjectName != null">
        SECOND_PROJECT_NAME = #{secondProjectName,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectCode != null">
        THREE_PROJECT_CODE = #{threeProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="threeProjectName != null">
        THREE_PROJECT_NAME = #{threeProjectName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.MmAddStockDetail">
    update T_MM_ADD_STOCK_DETAIL
    set PROJECT_CODE = #{projectCode,jdbcType=VARCHAR},
      PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      REGION_PARENT = #{regionParent,jdbcType=VARCHAR},
      REGION_LEVEL = #{regionLevel,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR},
      PICTURENUM = #{picturenum,jdbcType=VARCHAR},
      CONSULT_COST = #{consultCost,jdbcType=DECIMAL},
      PROPOSE_COST = #{proposeCost,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      BL_FLAG = #{blFlag,jdbcType=DECIMAL},
      SUPPLIER = #{supplier,jdbcType=VARCHAR},
      BATCH_NUMBER = #{batchNumber,jdbcType=VARCHAR},
      STORAGE_NUMBER = #{storageNumber,jdbcType=DECIMAL},
      PURCH_PRICE = #{purchPrice,jdbcType=DECIMAL},
      PURCH_TOTAL = #{purchTotal,jdbcType=DECIMAL},
      PROPOSE_TOTAL = #{proposeTotal,jdbcType=DECIMAL},
      EFFECTIVE_TIME = #{effectiveTime,jdbcType=DATE},
      INVALID_TIME = #{invalidTime,jdbcType=DATE},
      CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=DATE},
      STORAGE_NUMBER_ID = #{storageNumberId,jdbcType=VARCHAR},
      FIRST_PROJECT_CODE = #{firstProjectCode,jdbcType=VARCHAR},
      FIRST_PROJECT_NAME = #{firstProjectName,jdbcType=VARCHAR},
      SECOND_PROJECT_CODE = #{secondProjectCode,jdbcType=VARCHAR},
      SECOND_PROJECT_NAME = #{secondProjectName,jdbcType=VARCHAR},
      THREE_PROJECT_CODE = #{threeProjectCode,jdbcType=VARCHAR},
      THREE_PROJECT_NAME = #{threeProjectName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>